style.css


:root{
    --stdMargin:5rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

#productPage{
    margin: 0 var(--stdMargin);
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

/*Hero Section*/

#heroSection{
    margin: auto 0;
    color: black;
    grid-column: 2/5;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#logo{
    position: fixed;
    top: 2rem;
    left: var(--stdMargin);
    
    width: 70px;
}

#heroText{
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 2rem;
    text-transform: capitalize;
}

#heroDescription{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2rem;
    color: gray;
    text-transform: capitalize;
}

#ctaHelper{
    margin-top: 2rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
    color: #BBA4FF;
}

#CTA{
    width: 100%;
    padding: 12px 30px;
    background: #4200FF;
    border-radius: 7px;
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: capitalize;
}
/*Hero Section End */

#imageSection{
    grid-row:1/2;
}

#imageSection{
    height: 100vh;
    grid-column: 6/ -1;
    background-image:url("bandagepic.jpeg");
    background-size: cover;
    
}
